<div class="container-xl">
  <div class="row justify-content-center">
    <h2>Search</h2>
  </div>
  <div class="input-group input-group-lg mt-3">
    <input type="text" class="form-control" aria-label="Search input" placeholder="Start typing..."
      [formControl]="search">
  </div>

  <div *ngIf="searchResults$ | async as searchResults">

    <div class="row justify-content-center">
      <span>Total items: {{ searchResults.total_results }}</span>
    </div>

    <div *ngIf="searchResults?.results as movies">
      <div *ngIf="movies.length" class="album py-5 bg-light">
        <div class="container-xl">
          <div class="row justify-content-center">
            <div *ngFor="let movie of movies">
              <app-movie-card [movie]="movie">
              </app-movie-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>